/*import animations*/
@import "animation";

/*VAR sass*/
$colorP:#000;

/*defino version desktop*/
@media (min-width: 768px) {
/*establezco disposicion index desktop*/
    #gridIndex {
        display: grid;
        grid-template-areas: 
        "header header"
        "navegador navegador"
        "seccion2 seccion2"
        "seccion info"
        "footer footer";
        width: auto; 
        height: 100vh;
        gap: 5px;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 1fr;
        margin: 0 10px;
        header {
            grid-area: header;
        }
        nav {
            grid-area: navegador;
        }
        article {
            grid-area: seccion2;
        }
        section {
            grid-area: seccion;
        }
        aside {
            grid-area: info;
        }
        footer {
            grid-area: footer;
        }
    /*desarrllo index desktop*/
    /*header*/
        .container__index {
            display: grid;
            grid-template-rows: 0.5fr 1fr;
            width: 100%;
            .headerTop {
                display: grid;
                grid-template-rows: 0.5fr 1fr;
                width: auto;
                height: 100%;
                border-radius: 10px;
                margin: 0 10px;
                align-items: center;
                border-bottom: solid black 2px;
                background-image: url(../assets/Imagenes/54e4feb73ad47_837_627!.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                animation-name: aparecer;
                animation-duration: 2s;
                .searchHeader {
                    background: linear-gradient(to right, #e0ca9642, #805b058c);
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 5px;
                    border-bottom: solid black 1px;
                    border-top: solid black 1px;
                    border-radius: 10px;
                    nav {
                        a {
                            text-decoration: none;
                            color: white;
                            width: 100px
                        }
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        width: 100px;
                        img {
                            width: 100%;
                            height: auto;
                            padding: 20px;
                        }
                    }
                    input {
                        width: 30%;
                        height: 30px; 
                    }
                }
                .headerBottom {
                    display: flex;
                    justify-content: baseline;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    .logo {
                        width: 15%;
                        a {
                            flex-grow: 1;
                            margin: 10px;
                            animation-name: aparecer;
                            animation-duration: 5s;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .tittle {
                        flex-grow: 10;
                        padding: 10px;
                        h1 {
                            width: 100%;
                            height: auto;
                            font-size: 4rem ;
                            font-family: "Oswald";
                            text-shadow: 5px -1px 5px white;  
                        }
                    }
                }
            }
            .centerIndex {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                justify-content: center;
                align-content: center;
                width: auto;
                height: auto;
                margin: 30px;
                border-radius: 20px;
                background-image: url(../assets/Imagenes/background.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: 7px 13px 37px #000;
                .indexSlogan {
                    justify-items: center;
                    margin: 10px;
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                    p {
                        text-align: center;
                        font-family: "Oswald" , sans-serif;
                        background: linear-gradient(#ffe6b3, #99440c);
                        color: transparent;
                        text-shadow: 1px 1px 0px #ffffffa1;
                        font-size: 2rem;
                        padding: 30px;   
                        border-right: solid black 2px;
                        background-clip: text;
                        -webkit-background-clip: text;
                        animation: text 3s linear infinite;  
                    }
                }
                .imgCenter {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        border-radius: 20px;
                        justify-items: center;
                        align-items: center;
                    }
                    :hover {
                        backdrop-filter: blur(10px);
                        filter: blur(4px);
                        transition: 0.5s ease;
                    }
                }
            }
        }
    /*menu*/
        .headerMenu {
            background-image: url(../assets/Imagenes/footer.jpg);
            border-radius: 10px;
            width: auto;
            height: auto;
            margin: 0 10px;
            padding: 5px 0;
            display: flex;
            justify-content: center;
            margin: 0 150px;
            #check {
                display: none;
            }
            .checkbtn {
                .menu__icon {
                    display: none;
                }
            }
            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                align-content: center;
                margin: 0 150px;
                padding: 10px 30px;
                li {
                    margin: 0 10px;
                    .items {
                        width: 100%;
                        text-align: center;
                        font-family: 'Oswald', sans-serif;
                        font-size: 1.5rem;
                        text-decoration: none;
                        color: rgb(255, 250, 240);
                        margin: 5px;
                    }
                    :hover {
                        color: #9e6139;
                        background-color: #FAE4B1;
                        border: solid #614504 3px;
                        border-radius: 5px;
                        padding: 10px;
                    }
                }  
            }
        }
    /*slider*/
        .slider {
            width: 100%;
            margin: 10px 0;
            height: auto;
            overflow: hidden;
            padding: 50px;
            ul{
                display: flex;
                width: 300%;
                padding: 0;
                animation: slider 20s infinite;
                li {
                    width: 100%;
                    list-style: none;
                    img {
                        width: 100%;
                        padding:0 50px;
                        border-radius: 3px;
                    }
                }
            }
        }
    /*Contenido adicional 1*/
        .firstBox {
            background-image: url(./assets/Imagenes/backgroundGeneral.jpg);
            background-size: cover;
            width: 100%;
            height: auto;
            padding: 20px;
            border-right: #000 solid 1px;
            border-radius: 5px;
            h2 {
                color: white;
                width: 100%;
                height: auto;
                text-align: center;
                padding: 5px;
                margin-bottom: 10px;
                border-bottom: solid grey 2px;
            }
        }   
    /*contenido adicional*/
        .secondBox {
            display: grid;
            grid-template-rows: 1fr 2fr 2fr;
            width: 100%;
            height: auto;
            padding: 20px 10px;
            background-color: #99917f;
            border-radius: 20px;
            box-shadow: 7px 13px 37px #000;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            h3 {
                width: 100%;
                text-align: center;
                padding: 10px 20px;
                margin: 10px;
                border-bottom: 1px solid black;
            }
            .contentOne, .contentTwo {
                box-shadow: -2px 6px 19px 4px #000;
                border-radius: 5px;
                padding: 30px;
                text-align: center;
                margin: 10px;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: white;
                    text-shadow: -2px 0px 2px rgb(0 0 0);
                }
                :hover {
                    color: $colorP;
                }
            }
        }
    }
}