@import "index";

/*desarrollo nosotros mobile*/

@media (max-width:767px){
    #gridOthers {
        display: grid;
        grid-template-areas: 
        "navegador"
        "header"
        "seccion"
        "footer";
        grid-template-rows: auto;
        width: auto;
        height: 100vh;  
        animation: aparecer;
        animation-duration: 1s;
        header {
            grid-area: header;
        }
        nav {
            grid-area: navegador;
        }
        section {
            grid-area: seccion;
        }
        article {
            grid-area: seccion2;
        }
        footer {
            grid-area: footer;
        }
        .container__nosotros {
            display: grid;
            .centerNosotros {
                display: none;
            }
            .headerTop {
                @extend .headerTop;
                
            }
        }
        .headerMenu {
            @extend .headerMenu;
        }
    }
}