/*incluyo variable*/ /*import animations*/
@keyframes slider {
  0% {
    margin-left: 0;
  }
  33% {
    margin-left: 0;
  }
  35% {
    margin-left: -100%;
  }
  66% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
@keyframes text {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(30deg);
  }
}
/*VAR sass*/
/*index mobile*/
@media (max-width: 767px) {
  /*defino disposicion index mobile*/
  #gridIndex {
    display: grid;
    grid-template-areas: "navegador" "header" "seccion2" "seccion" "footer";
    animation: aparecer;
    animation-duration: 3s;
    /*header index mobile*/
    /*menu mobile*/
    /*slider mobile*/
  }
  #gridIndex header {
    grid-area: header;
  }
  #gridIndex nav {
    grid-area: navegador;
  }
  #gridIndex section {
    grid-area: seccion;
  }
  #gridIndex article {
    grid-area: seccion2;
  }
  #gridIndex footer {
    grid-area: footer;
  }
  #gridIndex .container__index .headerTop {
    width: auto;
    height: auto;
  }
  #gridIndex .container__index .headerTop .searchHeader {
    display: none;
  }
  #gridIndex .container__index .headerTop .headerBottom {
    background-image: url(../assets/Imagenes/carneasada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 30px 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  #gridIndex .container__index .headerTop .headerBottom .logo {
    flex-grow: 2;
    width: 10%;
  }
  #gridIndex .container__index .headerTop .headerBottom .logo img {
    width: 100%;
  }
  #gridIndex .container__index .headerTop .headerBottom .tittle {
    flex-grow: 3;
    padding: 10px;
  }
  #gridIndex .container__index .headerTop .headerBottom .tittle h1 {
    width: 100%;
    height: auto;
    font-size: 30px;
    font-family: "Oswald";
    text-shadow: 3px 1px 3px #fff8f1;
  }
  #gridIndex .container__index .centerIndex {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 30px 10px;
    border-top: 2px #000000 solid;
  }
  #gridIndex .container__index .centerIndex .indexSlogan {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgba(183, 123, 44, 0.3215686275);
    border-radius: 2px;
  }
  #gridIndex .container__index .centerIndex .indexSlogan p {
    font-size: 1rem;
  }
  #gridIndex .container__index .centerIndex .imgCenter img {
    display: none;
  }
  #gridIndex .headerMenu #check {
    display: none;
  }
  #gridIndex .headerMenu .checkbtn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  #gridIndex .headerMenu .checkbtn .menu__icon {
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    padding: 10px;
  }
  #gridIndex .headerMenu .checkbtn .menu__icon img {
    width: 10%;
    border: solid rgba(255, 255, 255, 0.6117647059) 2px;
    border-radius: 2px;
  }
  #gridIndex .headerMenu ul {
    display: block;
    position: fixed;
    left: -100%;
    width: 50%;
    height: auto;
    right: 0;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: 15px;
  }
  #gridIndex .headerMenu ul li {
    display: flex;
    justify-content: center;
    margin: 0;
    border: solid #250808 1px;
    background-color: rgba(250, 228, 177, 0.7803921569);
    border-radius: 10px;
    padding: 10px;
  }
  #gridIndex .headerMenu ul li a {
    color: #614504;
    font-family: "Oswald";
    font-size: px;
    text-decoration: none;
  }
  #gridIndex .headerMenu #check:checked ~ ul {
    left: auto;
    transition: all 0.25s;
  }
  #gridIndex article .slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: solid #9e6139 2px;
  }
  #gridIndex article .slider ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300%;
    padding: 0;
    margin: 0;
    animation: slider 20s infinite;
  }
  #gridIndex article .slider ul li {
    width: 100%;
    list-style: none;
  }
  #gridIndex article .slider ul li img {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #gridIndex .firstBox {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
    border-top: 3px grey solid;
    border-radius: 5px;
    margin: 10px 30px;
    padding: 10px 0;
    border-bottom: 3px grey solid;
    border-radius: 5px;
  }
  #gridIndex .firstBox h2 {
    color: #c0a367;
    text-shadow: 1px 2px 2px #000000;
    font-size: 15px;
    margin: 10px;
  }
  #gridIndex .secondBox {
    display: none;
  }
}
/*defino version desktop*/
@media (min-width: 768px) {
  /*establezco disposicion index desktop*/
  #gridIndex {
    display: grid;
    grid-template-areas: "header header" "navegador navegador" "seccion2 seccion2" "seccion info" "footer footer";
    width: auto;
    height: 100vh;
    gap: 5px;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    margin: 0 10px;
    /*desarrllo index desktop*/
    /*header*/
    /*menu*/
    /*slider*/
    /*Contenido adicional 1*/
    /*contenido adicional*/
  }
  #gridIndex header {
    grid-area: header;
  }
  #gridIndex nav {
    grid-area: navegador;
  }
  #gridIndex article {
    grid-area: seccion2;
  }
  #gridIndex section {
    grid-area: seccion;
  }
  #gridIndex aside {
    grid-area: info;
  }
  #gridIndex footer {
    grid-area: footer;
  }
  #gridIndex .container__index {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    width: 100%;
  }
  #gridIndex .container__index .headerTop {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin: 0 10px;
    align-items: center;
    border-bottom: solid black 2px;
    background-image: url(../assets/Imagenes/54e4feb73ad47_837_627!.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gridIndex .container__index .headerTop .searchHeader {
    background: linear-gradient(to right, rgba(224, 202, 150, 0.2588235294), rgba(128, 91, 5, 0.5490196078));
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-radius: 10px;
  }
  #gridIndex .container__index .headerTop .searchHeader nav a {
    text-decoration: none;
    color: white;
    width: 100px;
  }
  #gridIndex .container__index .headerTop .searchHeader a {
    text-decoration: none;
    color: white;
    width: 100px;
  }
  #gridIndex .container__index .headerTop .searchHeader a img {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  #gridIndex .container__index .headerTop .searchHeader input {
    width: 30%;
    height: 30px;
  }
  #gridIndex .container__index .headerTop .headerBottom {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    height: auto;
  }
  #gridIndex .container__index .headerTop .headerBottom .logo {
    width: 15%;
  }
  #gridIndex .container__index .headerTop .headerBottom .logo a {
    flex-grow: 1;
    margin: 10px;
    animation-name: aparecer;
    animation-duration: 5s;
  }
  #gridIndex .container__index .headerTop .headerBottom .logo a img {
    width: 100%;
  }
  #gridIndex .container__index .headerTop .headerBottom .logo a :hover {
    transform: rotate(160deg);
    transition-duration: 1.2s;
  }
  #gridIndex .container__index .headerTop .headerBottom .tittle {
    flex-grow: 10;
    padding: 10px;
  }
  #gridIndex .container__index .headerTop .headerBottom .tittle h1 {
    width: 100%;
    height: auto;
    font-size: 4rem;
    font-family: "Oswald";
    text-shadow: 5px -1px 5px white;
  }
  #gridIndex .container__index .centerIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    margin: 30px;
    border-radius: 20px;
    background-image: url(../assets/Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 13px 37px #000;
  }
  #gridIndex .container__index .centerIndex .indexSlogan {
    justify-items: center;
    margin: 10px;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  #gridIndex .container__index .centerIndex .indexSlogan p {
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: transparent;
    color: #000;
    text-shadow: 3px 2px 2px #ffffff;
    font-size: 2rem;
    padding: 30px;
    border-right: solid black 2px;
    background-clip: text;
    -webkit-background-clip: text;
  }
  #gridIndex .container__index .centerIndex .imgCenter {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
  }
  #gridIndex .container__index .centerIndex .imgCenter img {
    width: 100%;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
  }
  #gridIndex .headerMenu {
    background-image: url(../assets/Imagenes/footer.jpg);
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 0 10px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    margin: 0 150px;
  }
  #gridIndex .headerMenu #check {
    display: none;
  }
  #gridIndex .headerMenu .checkbtn .menu__icon {
    display: none;
  }
  #gridIndex .headerMenu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 150px;
    padding: 10px 30px;
  }
  #gridIndex .headerMenu ul li {
    margin: 0 10px;
  }
  #gridIndex .headerMenu ul li .items {
    width: 100%;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 250, 240);
    margin: 5px;
  }
  #gridIndex .headerMenu ul li :hover {
    color: #9e6139;
    background-color: #FAE4B1;
    border: solid #614504 3px;
    border-radius: 5px;
    padding: 10px;
  }
  #gridIndex .slider {
    width: 100%;
    margin: 10px 0;
    height: auto;
    overflow: hidden;
    padding: 50px;
  }
  #gridIndex .slider ul {
    display: flex;
    width: 300%;
    padding: 0;
    animation: slider 20s infinite;
  }
  #gridIndex .slider ul li {
    width: 100%;
    list-style: none;
  }
  #gridIndex .slider ul li img {
    width: 100%;
    padding: 0 50px;
    border-radius: 3px;
  }
  #gridIndex .firstBox {
    background-image: url(../assets/Imagenes/backgroundGeneral.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px;
    border-right: #000 solid 1px;
    border-radius: 5px;
  }
  #gridIndex .firstBox h2 {
    color: #fff8f1;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: solid grey 2px;
  }
  #gridIndex .secondBox {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background: #6c6b67;
    border-radius: 20px;
    box-shadow: 7px 13px 37px #000;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #gridIndex .secondBox h3 {
    color: #fff8f1;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    border-bottom: 1px solid black;
  }
  #gridIndex .secondBox .extend, #gridIndex .secondBox .extend--second {
    box-shadow: -2px 6px 19px 4px #000;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    margin: 10px;
    justify-content: center;
    background-color: #67a1c0;
  }
  #gridIndex .secondBox .extend a, #gridIndex .secondBox .extend--second a {
    text-decoration: none;
    color: white;
    text-shadow: -2px 0px 2px rgb(0, 0, 0);
  }
  #gridIndex .secondBox .extend :hover, #gridIndex .secondBox .extend--second :hover {
    color: #250808;
  }
  #gridIndex .secondBox .extend--second {
    background-color: #67c0b0;
  }
}
/*mixin's mobile header universal, menu universal mobile*/
/*mixin desarrollo nosotros y distribuidores mobile*/
/*header desktop*/
/*menu desktop*/
/*desarrollo nosotros dist desktop*/
/*desarrollo mobile*/
@media (max-width: 767px) {
  #gridOthers {
    display: grid;
    grid-template-areas: "navegador" "header" "seccion" "footer";
    grid-template-rows: auto;
    width: auto;
    height: 100vh;
    animation: aparecer;
    animation-duration: 1s;
    /*header page nosotros mobile*/
    /*header page productos mobile*/
    /*menu universal*/
    /*page nosotros/distribuidores mobile*/
    /*page prpductos mobile*/
    /*page contactos*/
  }
  #gridOthers header {
    grid-area: header;
  }
  #gridOthers nav {
    grid-area: navegador;
  }
  #gridOthers section {
    grid-area: seccion;
  }
  #gridOthers article {
    grid-area: seccion2;
  }
  #gridOthers footer {
    grid-area: footer;
  }
  #gridOthers .container__nosotros {
    display: grid;
  }
  #gridOthers .container__nosotros .centerNosotros {
    display: none;
  }
  #gridOthers .container__nosotros .headerTop {
    width: auto;
    height: auto;
  }
  #gridOthers .container__nosotros .headerTop .searchHeader {
    display: none;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom {
    background-image: url(../assets/Imagenes/carneasada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 30px 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom .logo {
    flex-grow: 2;
    width: 10%;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom .logo img {
    width: 100%;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom .tittle {
    flex-grow: 3;
    padding: 10px;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom .tittle h1 {
    width: 100%;
    height: auto;
    font-size: 30px;
    font-family: "Oswald";
    text-shadow: 3px 1px 3px #fff8f1;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom {
    background-image: url(../assets/Imagenes/54e4feb73ad47_837_627!.jpg);
  }
  #gridOthers .container__productos {
    display: grid;
  }
  #gridOthers .container__productos .headerTop {
    width: auto;
    height: auto;
  }
  #gridOthers .container__productos .headerTop .searchHeader {
    display: none;
  }
  #gridOthers .container__productos .headerTop .headerBottom {
    background-image: url(../assets/Imagenes/carneasada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 30px 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  #gridOthers .container__productos .headerTop .headerBottom .logo {
    flex-grow: 2;
    width: 10%;
  }
  #gridOthers .container__productos .headerTop .headerBottom .logo img {
    width: 100%;
  }
  #gridOthers .container__productos .headerTop .headerBottom .tittle {
    flex-grow: 3;
    padding: 10px;
  }
  #gridOthers .container__productos .headerTop .headerBottom .tittle h1 {
    width: 100%;
    height: auto;
    font-size: 30px;
    font-family: "Oswald";
    text-shadow: 3px 1px 3px #fff8f1;
  }
  #gridOthers .container__productos .headerTop .headerBottom {
    background-image: url(../assets/Imagenes/54e4feb73ad47_837_627!.jpg);
  }
  #gridOthers .headerMenu #check {
    display: none;
  }
  #gridOthers .headerMenu .checkbtn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  #gridOthers .headerMenu .checkbtn .menu__icon {
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    padding: 10px;
  }
  #gridOthers .headerMenu .checkbtn .menu__icon img {
    width: 10%;
    border: solid rgba(255, 255, 255, 0.6117647059) 2px;
    border-radius: 2px;
  }
  #gridOthers .headerMenu ul {
    display: block;
    position: fixed;
    left: -100%;
    width: 50%;
    height: auto;
    right: 0;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: 15px;
  }
  #gridOthers .headerMenu ul li {
    display: flex;
    justify-content: center;
    margin: 0;
    border: solid #250808 1px;
    background-color: rgba(250, 228, 177, 0.7803921569);
    border-radius: 10px;
    padding: 10px;
  }
  #gridOthers .headerMenu ul li a {
    color: #614504;
    font-family: "Oswald";
    font-size: px;
    text-decoration: none;
  }
  #gridOthers .headerMenu #check:checked ~ ul {
    left: auto;
    transition: all 0.25s;
  }
  #gridOthers .sectionContainer {
    display: grid;
    grid-template-rows: auto;
    background-image: url(../assets/Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #gridOthers .sectionContainer .tittle {
    border-bottom: 2px black solid;
    margin: 10px 0;
    padding: 0 20px;
    text-align: center;
  }
  #gridOthers .sectionContainer .tittle h2 {
    font-size: 20px;
    text-shadow: white 3px -1px 3px;
  }
  #gridOthers .sectionContainer .sectionBox-one {
    margin: 10px 20px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3882352941);
  }
  #gridOthers .sectionContainer .sectionBox-one p {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
  }
  #gridOthers .sectionContainer .sectionBox-one video {
    display: none;
  }
  #gridOthers .sectionContainer .sectionBox-two {
    margin: 10px 20px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3882352941);
  }
  #gridOthers .sectionContainer .sectionBox-two p {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
  }
  #gridOthers .sectionContainer .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 80px;
  }
  #gridOthers .sectionContainer .list ul {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(209, 203, 198, 0.6196078431);
    border-radius: 5px;
    list-style: none;
  }
  #gridOthers .sectionContainer .list ul li {
    border-bottom: solid rgba(80, 63, 25, 0.3803921569) 1px;
    color: #614504;
  }
  #gridOthers .sectionContainer .list ul li:hover {
    color: white;
    cursor: pointer;
  }
  #gridOthers .sectionContainer .list .iframe {
    background-color: rgba(0, 0, 0, 0.3411764706);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    margin: 10px;
  }
  #gridOthers .products {
    width: 100%;
    height: auto;
    display: grid;
    gap: 10px;
    padding: 20px;
  }
  #gridOthers .products .tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
  }
  #gridOthers .products .tittle h2 {
    padding: 10px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    font-family: "Times New Roman", Times, serif;
  }
  #gridOthers .products .clasif {
    display: grid;
    grid-template-rows: 0.1fr 2fr;
    width: 100%;
    height: auto;
    padding: 0 30px;
  }
  #gridOthers .products .clasif h3 {
    background-color: beige;
    padding: 20px;
    margin: 0 20px;
    font-size: 15px;
  }
  #gridOthers .products .clasif .items1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: baseline;
    gap: 10px;
    height: auto;
    padding: 20px;
  }
  #gridOthers .products .clasif .items1 .one {
    display: flex;
    width: 100%;
    justify-content: center;
    border: solid 3px black;
    border-radius: 10px;
  }
  #gridOthers .products .clasif .items1 .one .textOne {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4588235294);
    width: 20%;
    border-radius: 5px;
  }
  #gridOthers .products .clasif .items1 .one .textOne h6 {
    color: white;
    font-size: 10px;
  }
  #gridOthers .products .clasif .items1 .one img {
    width: 100%;
    border-radius: 10px;
  }
  #gridOthers .contact {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    align-items: center;
    text-align: center;
    background-image: url(../assets/Imagenes/portadacontacto.jpg);
    margin-top: 5px;
    border-radius: 10px;
  }
  #gridOthers .contact .tittleContact div h2 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-shadow: white 4px 2px 6px;
  }
  #gridOthers .contact .tittleContact div p {
    font-size: 10px;
    text-shadow: white 1px 2px 2px;
  }
  #gridOthers .contact .containerBottom {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  #gridOthers .contact .containerBottom .formContainer {
    margin: 0px auto;
    padding-top: 20px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.6117647059);
    border-radius: 10px;
  }
  #gridOthers .contact .containerBottom .formContainer form {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }
  #gridOthers .contact .containerBottom .formContainer form .firstLine input {
    width: 100%;
  }
  #gridOthers .contact .containerBottom .formContainer form input, #gridOthers .contact .containerBottom .formContainer form textarea {
    padding: 0 20px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  #gridOthers .contact .containerBottom .listContact {
    background-color: rgba(255, 255, 255, 0.6117647059);
    padding: 0 10px;
    margin: 20px 50px;
    border-radius: 10px;
  }
  #gridOthers .contact .containerBottom .listContact .listTittle h3 {
    font-size: 15px;
    margin: 10px;
  }
  #gridOthers .contact .containerBottom .listContact .contactList ul {
    list-style: none;
  }
  #gridOthers .contact .containerBottom .listContact .contactList ul li {
    font-size: 10px;
    margin: 10px;
    list-style: none;
  }
  #gridOthers .contact .containerBottom .listContact .contactList ul li a {
    text-decoration: none;
    margin: 10px;
  }
  #gridOthers .contact .containerBottom .listContact .contactList ul li :nth-child(2) a {
    color: green;
    display: flex;
    margin: 0;
    justify-content: center;
  }
  #gridOthers .contact .containerBottom .listContact .contactList ul li :nth-child(3) a {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
/*desarrollo desktop*/
@media (min-width: 768px) {
  #gridOthers {
    display: grid;
    grid-template-areas: "header" "navegador" "seccion" "footer";
    grid-template-rows: auto;
    grid-template-columns: none;
    width: auto;
    height: 100vh;
    /*header nosotros desktop*/
    /*header productos desktop*/
    /*menu universal*/
    /*nosotros/distribuidores desktop*/
    /*productos desktop*/
  }
  #gridOthers header {
    grid-area: header;
  }
  #gridOthers nav {
    grid-area: navegador;
  }
  #gridOthers section {
    grid-area: seccion;
  }
  #gridOthers article {
    grid-area: seccion2;
  }
  #gridOthers footer {
    grid-area: footer;
  }
  #gridOthers .container__nosotros {
    display: grid;
  }
  #gridOthers .container__nosotros .headerTop {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin: 0 10px;
    align-items: center;
    border-bottom: solid black 2px;
    background-image: url(../assets/Imagenes/54e4feb73ad47_837_627!.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: aparecer;
    animation-duration: 2s;
  }
  #gridOthers .container__nosotros .headerTop .searchHeader {
    background: linear-gradient(to right, rgba(224, 202, 150, 0.2588235294), rgba(128, 91, 5, 0.5490196078));
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-radius: 10px;
  }
  #gridOthers .container__nosotros .headerTop .searchHeader nav a {
    text-decoration: none;
    color: white;
    width: 100px;
  }
  #gridOthers .container__nosotros .headerTop .searchHeader a {
    text-decoration: none;
    color: white;
    width: 100px;
  }
  #gridOthers .container__nosotros .headerTop .searchHeader a img {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  #gridOthers .container__nosotros .headerTop .searchHeader input {
    width: 30%;
    height: 30px;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    height: auto;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom .logo {
    flex-grow: 1;
    width: 10%;
    margin: 10px;
    animation-name: aparecer;
    animation-duration: 5s;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom .logo img {
    width: 100%;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom .tittle {
    flex-grow: 10;
    padding: 10px;
  }
  #gridOthers .container__nosotros .headerTop .headerBottom .tittle h1 {
    width: 100%;
    height: auto;
    font-size: 4rem;
    font-family: "Oswald";
    text-shadow: 5px -1px 5px white;
  }
  #gridOthers .container__nosotros .centerNosotros {
    display: none;
  }
  #gridOthers .container__productos {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    width: 100%;
  }
  #gridOthers .container__productos .headerTop {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin: 0 10px;
    align-items: center;
    border-bottom: solid black 2px;
    background-image: url(../assets/Imagenes/54e4feb73ad47_837_627!.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: aparecer;
    animation-duration: 2s;
  }
  #gridOthers .container__productos .headerTop .searchHeader {
    background: linear-gradient(to right, rgba(224, 202, 150, 0.2588235294), rgba(128, 91, 5, 0.5490196078));
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-radius: 10px;
  }
  #gridOthers .container__productos .headerTop .searchHeader nav a {
    text-decoration: none;
    color: white;
    width: 100px;
  }
  #gridOthers .container__productos .headerTop .searchHeader a {
    text-decoration: none;
    color: white;
    width: 100px;
  }
  #gridOthers .container__productos .headerTop .searchHeader a img {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  #gridOthers .container__productos .headerTop .searchHeader input {
    width: 30%;
    height: 30px;
  }
  #gridOthers .container__productos .headerTop .headerBottom {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    height: auto;
  }
  #gridOthers .container__productos .headerTop .headerBottom .logo {
    flex-grow: 1;
    width: 10%;
    margin: 10px;
    animation-name: aparecer;
    animation-duration: 5s;
  }
  #gridOthers .container__productos .headerTop .headerBottom .logo img {
    width: 100%;
  }
  #gridOthers .container__productos .headerTop .headerBottom .tittle {
    flex-grow: 10;
    padding: 10px;
  }
  #gridOthers .container__productos .headerTop .headerBottom .tittle h1 {
    width: 100%;
    height: auto;
    font-size: 4rem;
    font-family: "Oswald";
    text-shadow: 5px -1px 5px white;
  }
  #gridOthers .container__productos .centerNosotros {
    display: none;
  }
  #gridOthers .container__productos #carouselOnly {
    width: 100%;
    height: auto;
    padding: 50px;
  }
  #gridOthers .headerMenu {
    background-image: url(../assets/Imagenes/footer.jpg);
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 0 10px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    margin: 0 150px;
  }
  #gridOthers .headerMenu #check {
    display: none;
  }
  #gridOthers .headerMenu .checkbtn img {
    display: none;
  }
  #gridOthers .headerMenu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 150px;
    padding: 10px 30px;
  }
  #gridOthers .headerMenu ul li {
    margin: 0 10px;
  }
  #gridOthers .headerMenu ul li .items {
    width: 100%;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 250, 240);
    margin: 5px;
  }
  #gridOthers .headerMenu ul li a:hover {
    color: #9e6139;
    background-color: #FAE4B1;
    border: solid #614504 3px;
    border-radius: 5px;
    padding: 10px;
  }
  #gridOthers .sectionContainer {
    display: grid;
    grid-template-rows: 1 3 1 3;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 50px;
    background-image: url(../assets/Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #gridOthers .sectionContainer .tittle {
    width: 100%;
    padding: 10px 30px;
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    color: #94b2d8;
    text-shadow: 2px 2px 2px #1d1c1c;
  }
  #gridOthers .sectionContainer .sectionBox-one, #gridOthers .sectionContainer .sectionBox-two {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 2px solid black;
  }
  #gridOthers .sectionContainer .sectionBox-one .boxVideo, #gridOthers .sectionContainer .sectionBox-two .boxVideo {
    justify-content: center;
    width: 100%;
  }
  #gridOthers .sectionContainer .sectionBox-one .boxVideo video, #gridOthers .sectionContainer .sectionBox-two .boxVideo video {
    width: 100%;
    padding: 50px 0;
  }
  #gridOthers .sectionContainer .sectionBox-one .textBox, #gridOthers .sectionContainer .sectionBox-two .textBox {
    padding: 10px 10px;
  }
  #gridOthers .sectionContainer .sectionBox-one .textBox p, #gridOthers .sectionContainer .sectionBox-two .textBox p {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: -1px 1px 2px #000000;
    font-family: "Times New Roman", Times, serif;
  }
  #gridOthers .sectionContainer .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 80px;
  }
  #gridOthers .sectionContainer .list ul {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(209, 203, 198, 0.6196078431);
    border-radius: 5px;
    list-style: none;
  }
  #gridOthers .sectionContainer .list ul li {
    border-bottom: solid rgba(80, 63, 25, 0.3803921569) 1px;
    color: #614504;
  }
  #gridOthers .sectionContainer .list ul li:hover {
    color: white;
    cursor: pointer;
  }
  #gridOthers .sectionContainer .list .iframe {
    background-color: rgba(0, 0, 0, 0.3411764706);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    margin: 10px;
  }
  #gridOthers .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 0.4fr 0.5fr;
    gap: 10px;
    padding: 20px;
  }
  #gridOthers .products .tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  #gridOthers .products .tittle h2 {
    padding: 10px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    font-family: "Times New Roman", Times, serif;
  }
  #gridOthers .products .clasif {
    display: grid;
    grid-template-rows: 0.1fr 2fr;
    width: 100%;
    height: auto;
    padding: 0 200px;
  }
  #gridOthers .products .clasif h3 {
    background-color: beige;
    padding: 20px;
    margin: 0 20px;
  }
  #gridOthers .products .clasif .items1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: baseline;
    gap: 10px;
    height: auto;
    padding: 20px;
  }
  #gridOthers .products .clasif .items1 .one {
    display: flex;
    justify-content: center;
    border: solid 3px black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  #gridOthers .products .clasif .items1 .one img {
    width: 100%;
    border-radius: 10px;
    transition: all 500ms ease-out;
  }
  #gridOthers .products .clasif .items1 .one .textOne {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4392156863);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    font-size: 1rem;
  }
  #gridOthers .products .clasif .items1 .one:hover > .textOne {
    opacity: 1;
    visibility: visible;
  }
  #gridOthers .products .clasif .items1 .one:hover > .textOne h6 {
    margin-top: 80px;
    font-size: 1rem;
    padding: 10px 20px;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    text-shadow: white 1px 1px 1px;
  }
  #gridOthers .contact {
    display: grid;
    grid-template-rows: auto;
    margin: 30px;
    background-image: url(../assets/Imagenes/portadacontacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 150px;
  }
  #gridOthers .contact .tittle div h2 {
    border-bottom: solid black 2px;
    border-left: black solid 2px;
    padding: 20px;
    font-size: 2rem;
    text-shadow: rgba(255, 255, 255, 0.8588235294) -2px -2px 3px;
  }
  #gridOthers .contact .tittle div p {
    margin: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-shadow: rgba(255, 255, 255, 0.8588235294) -1px 0px 2px;
  }
  #gridOthers .contact .containerBottom .formContainer {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
  }
  #gridOthers .contact .containerBottom .formContainer h3 {
    text-align: center;
    text-shadow: 1px 2px 2px white;
  }
  #gridOthers .contact .containerBottom .formContainer form {
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
  }
  #gridOthers .contact .containerBottom .formContainer form .firstLine input {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    font-size: 1rem;
  }
  #gridOthers .contact .containerBottom .formContainer form .secondLine input {
    margin: 10px 50px;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 10px;
    font-size: 20px;
  }
  #gridOthers .contact .containerBottom .formContainer form .thirthLine {
    display: flex;
    justify-content: center;
  }
  #gridOthers .contact .containerBottom .formContainer form .thirthLine .boton {
    background-color: rgba(29, 28, 28, 0.4117647059);
    color: rgba(255, 255, 255, 0.6117647059);
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    border-radius: 2px;
  }
  #gridOthers .contact .containerBottom .formContainer form .thirthLine .boton:hover {
    background-color: green;
  }
  #gridOthers .contact .containerBottom .formContainer form h4 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }
  #gridOthers .contact .containerBottom .listContact .listTittle {
    color: rgba(255, 255, 255, 0.6117647059);
  }
  #gridOthers .contact .containerBottom .listContact .contactList .list-unstyled {
    list-style: none;
  }
  #gridOthers .contact .containerBottom .listContact .contactList .list-unstyled li {
    color: rgba(255, 255, 255, 0.6117647059);
  }
  #gridOthers .contact .containerBottom .listContact .contactList .list-unstyled li:nth-child(2) a {
    color: green;
    text-decoration: none;
  }
  #gridOthers .contact .containerBottom .listContact .contactList .list-unstyled li:nth-child(3) a {
    display: flex;
    text-decoration: none;
  }
  #gridOthers .contact .containerBottom .listContact .contactList .list-unstyled li:nth-child(3) a a :first-child {
    color: rgb(58, 80, 141);
  }
}/*# sourceMappingURL=main.css.map */