/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "oswald";
}
/*responsive mobile*/

@media (max-width:767px){
    /*gridmobile index*/
    #gridOthers {
        display: grid;
        grid-template-areas: 
        "navegador"
        "header"
        "seccion"
        "footer";
        grid-template-rows: auto;
        width: auto;
        height: 100vh;  
    }
    #gridIndex {
        display: grid;
        grid-template-areas: 
        "navegador"
        "header"
        "seccion2"
        "seccion"
        "footer";
    }
    header {
        grid-area: header;
    }
    nav {
        grid-area: navegador;
    }
    section {
        grid-area: seccion;
    }
    article {
        grid-area: seccion2;
    }
    footer {
        grid-area: footer;
    }    
/*header universal container mobile*/
    .container {
        display: flex;
        align-items: center;
        justify-content: top;
        width: auto;
        height: 100%;        
    }
    .container__productos {
        display: grid;
    }
    .headerTop {
        width: auto;
        height: auto;
    }
     /*center mobile*/
     .centerIndex, .centerNosotros, .centerDistribuidores, .centerContacto{
        display: none;
    }
/*menu universal mobile*/
    .checkbtn, #check {
    display: none;
    }
    .checkbtn {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
    .menu-icon {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        justify-content: flex-end;
        padding: 20px;
    }
    .menu-icon img {
        box-shadow: inset 2px 4px 5px 8px #e5dac6;
        width: 5%;
    }
    .headerMenu ul {
        display: block;
        position: fixed;
        left: -100%;
        width: 50%;
        height: auto;
        right: 0;
        border-radius: 20px;
        margin-top: 40px;
        margin-right: 15px;
        
    }
    .headerMenu ul li {
        display: flex;
        justify-content: center;
        margin: 0;
        border: solid #250808 1px;
        background-color: #fae4b1c7;
        border-radius: 10px;
        padding: 10px;

    }
    .headerMenu ul li a {
        color: #614504;
        font-family: "Oswald";
        font-size: px;
        text-decoration: none;
    }
    .headerMenu
    #check:checked ~ ul {
        left: auto;
        transition:all .25s;
    }
/*search header index "top" mobile*/
    .searchHeader {
        display:none;
    }
/*titulo y logo index mobile*/
    .headerBottom  {
        background-image: url(./assets/Imagenes/carneasada.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        padding: 30px 0;
        display: flex;
        justify-content: baseline;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0 auto;
    }
    .headerBottom .logo {
        flex-grow: 2;
        width: 10%;
    }
    .headerBottom .tittle {
        flex-grow: 3;
        padding: 10px;
    }
    .headerBottom .tittle h1 {
        width: 100%;
        height: auto;
        font-size: 30px;
        font-family: "Oswald";
        text-shadow: 3px 3px 0px #edb67d;
    }
    .headerBottom .logo img {
        width: 100%; 
    }
    #gridOthers .headerTop .headerBottom {
        background-image: url(./assets/Imagenes/54e4feb73ad47_837_627!.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: auto;
    }

/*desarrollo index mobile*/
    .firstBox {
        width: auto;
        height: auto;
        text-align: center;
        margin-top: 20px;
        border-top: 3px grey solid;
        border-radius: 5px;
        margin: 10px 30px;
        padding: 10px 0;
        border-bottom: 3px grey solid;
        border-radius: 5px;
    }
    .firstBox h2 {
        color: #c0a367;
        text-shadow: 1px 2px 2px #000000;
        font-size: 15px;
        margin: 10px;
    }
    .secondBox {
        display: none;
    }
    .slider {
        width: 100%;
        margin: 10px 0;
        height: auto;
        overflow: hidden;
        border: solid black 4px;
        background-color: #000;
    }
    .slider ul{
        display: flex;
        width: 300%;
        padding: 0;
        animation: slider 20s infinite;
    }
    .slider li {
        width: 100%;
        list-style: none;
    }
    .slider li img {
        width: 100%;
    }
    /*footer universal*/
    #footer {
        width: 100%;
        height: auto;
        background-color: rgb(224, 214, 201);
        text-align: center;
        margin-top: 20px;
        border-top: 2px black solid;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #footer .firstColumn .imgFooter {
        display: flex;
        justify-content: center;
    }
    #footer .imgFooter img {
        width: 10%;
    }
    .thirthColumn {
        display: none;
    }
    .secondColumn {
        display: none;
    }

    /*desarrollo nosotros mobile*/
    #gridOthers .sectionContainer {
        display: grid;
        grid-template-rows: auto;
        background-image: url(./assets/Imagenes/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #gridOthers .sectionContainer .tittle {
        border-bottom: 2px black solid;
        margin: 10px 0;
        padding: 0 20px;
    }
    #gridOthers .sectionContainer .tittle h2 {
        font-size: 15px;
        text-shadow: white 3px -1px 3px;
    }
    #gridOthers .sectionBox-one {
        margin: 10px 20px;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        padding: 20px;
        background-color: #00000063;
    }
    #gridOthers .sectionBox-one p {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
    }
    #gridOthers .sectionContainer .sectionBox-one video {
        display:none;
    }
    #gridOthers .sectionContainer {
        text-align: center;
        margin-top: 20px;
    }
    #gridOthers .sectionBox-two {
        margin: 10px 20px;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        padding: 20px;
        background-color: #00000063;

    }
    #gridOthers .sectionBox-two p {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
    }
    /*desarrollo PRODUCTOS mobile*/

    .products {
        width: 100%;
        height: auto;
        display: grid;
        gap: 10px;
        padding: 20px;
    }
    .products .tittle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-align: center;
    }
    .products .tittle h2 {
        padding: 10px;
        border-top: solid black 2px;
        border-bottom: solid black 2px;
        font-family: 'Times New Roman', Times, serif;
    }
    .clasif {
        display: grid;
        grid-template-rows: 0.1fr 2fr;
        width: 100%;
        height: auto;
        padding: 0 30px;
    }
    .clasif h3 {
        background-color: beige;
        padding: 20px;
        margin:  0 20px;
        font-size: 15px;
    }
    .items1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: baseline;
        gap: 10px;
        height: auto;
        padding: 20px;
    }
    .one {
        display: flex;
        width: 100%;
        justify-content: center;
        border: solid 3px black;
        border-radius: 10px;
    }
    .one .textOne {
        position: absolute;
        text-align: center;
        background-color: #00000075;
        width: 20%;
        border-radius: 5px;
    }
    .textOne h6 {
        color: white;
        font-size: 10px;
    }
    .one img {
        width: 100%;
        border-radius: 10px;
    }
/*desarrollo distribuidores mobile*/
.sectionContainer .list {
    padding: 0 50px;
    border-radius: 10px;
}
.sectionContainer .list ul {
    background-color: #e2de9a4d;
}
.sectionContainer .list li {
    border-bottom: black solid 1px;
    list-style: none;
    font-size: 10px;
    padding: 20px;
}
.sectionContainer .list li:hover {
    color: white;
}
.sectionContainer .iframe {
    width: 100%;
    background-color: #0000004a;
    border-radius: 1px;
    padding: 20px;
}
.sectionContainer .iframe iframe {
    border-radius: 50%;
    width: 100%;
}
/*desarrollo contacto mobile*/
    .contact {
        display: grid;
        grid-template-rows: 0.5fr 2fr;
        align-items: center;
        text-align: center;
        background-image: url(./assets/Imagenes/portadacontacto.jpg);
    }
    .containerBottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .containerBottom .listTittle h3{
        font-size: 15px;
        margin: 10px;
    }
    .containerBottom .listContact {
        background-color: #ffffff9c;
        margin: 10px;
    }
    .listContact ul {
        list-style: none;
    }
    .listContact ul li {
        font-size: 10px;
        margin: 10px;
    }
    .listContact ul li a {
        text-decoration: none;
        margin: 10px;
    }
    .listContact ul li:nth-child(2) a {
        color: green;
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .listContact ul li:nth-child(3) a {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .contact h2 {
        font-size: 30px;
        padding: 10px;
        text-align: center;
        text-shadow:white 4px 2px 6px;
    }
    .contact p {
        text-shadow:white 1px 2px 2px;

    }
    
    .formContainer {
        margin: 0px auto;
        padding-top: 20px;
        margin: 5px;
        background-color:#ffffff9c;
        border-radius:10px;
    }
    .formContainer form {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }
    .formContainer h4 {
        font-size: 10px;
        margin-bottom: 10px;
        color: red;
    }
    .formContainer form input, textarea {
        padding: 0 20px;
        border: 1px solid grey;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 10px;
    }

}   
    /*RESPONSIVE*/
    /*area body completo OTHERS*/
@media (min-width: 768px) {
    #gridOthers {
     display: grid;
     grid-template-areas: 
     "header"
     "navegador"
     "seccion" 
     "footer" ;
     grid-template-rows: auto; 
     grid-template-columns: none;
     width: auto;
     height: 100vh;
    }
    
    /*area body completo index*/
    #gridIndex {
    display: grid;
    grid-template-areas: 
    "header header"
    "navegador navegador"
    "seccion2 seccion2"
    "seccion info"
    "footer footer";
    width: auto; 
    height: 100vh;
    gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    margin: 0 10px;
}
    
header {
    grid-area: header;
}
nav {
    grid-area: navegador;
}
article {
    grid-area: seccion2;
}
section {
    grid-area: seccion;
}
aside {
    grid-area: info;
}
footer {
    grid-area: footer;
}
/* header universal*/
.container__index, .container__productos {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    width: 100%;
}
.container__nosotros {
    display: grid;  
}
.container__nosotros .centerNosotros {
    display: none;
}


/*top header universal*/
.headerTop {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin: 0 10px;
    align-items: center;
    border-bottom: solid black 2px;
    background-image: url(./assets/Imagenes/54e4feb73ad47_837_627!.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: aparecer;
    animation-duration: 2s;
}
/*search header universal*/
.searchHeader {
    background: linear-gradient(to right, #e0ca9642, #805b058c);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-radius: 10px;
}
.searchHeader a {
    color: white;
    width: 100px
}
.searchHeader a img {
    width: 100%;
    height: auto;
    padding: 20px;
}
.searchHeader input {
    width: 30%;
    height: 30px;
}
/*header bottom universal*/
.headerBottom {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    height: auto;
}
.headerBottom .logo {
    flex-grow: 1;
    width: 10%;
    margin: 10px;
    animation-name: aparecer;
    animation-duration: 5s;
}
.headerBottom .tittle {
    font-family: "oswald";
    flex-grow: 10;
    padding: 10px;
}
.headerBottom .tittle h1 {
    width: 100%;
    height: auto;
    font-size: 60px;
    font-family: "Oswald";
    text-shadow: 5px -1px 5px white;
}

.headerBottom .logo img {
    width: 100%;
 
}
/*center index*/
.centerIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    margin: 30px;
    border-radius: 20px;
    background-image: url(./assets/Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 7px 13px 37px #000;
}
.indexSlogan{
        justify-items: center;
        margin: 10px;
        width: 100%;
        height: auto;
        border-radius: 20px;
}
.indexSlogan p {
    text-align: center;
    font-family: "Oswald" , sans-serif;
    background: linear-gradient(#ffe6b3, #99440c);
    color: transparent;
    text-shadow: 1px 1px 0px #9f3333a1;
    font-size: 30px;
    padding: 30px;   
    border-right: solid black 2px;
    background-clip: text;
    -webkit-background-clip: text;
    animation: text 3s linear infinite;
}
.imgCenter { 
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
}
.centerIndex img {
    width: 100%;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}
.centerIndex img:hover {
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
}
/*menu nav universal*/
.headerMenu {
    background-image: url(./assets/Imagenes/footer.jpg);
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 0 10px;
    padding: 5px;
}
.headerMenu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
}
.headerMenu ul li .items {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 250, 240);
    margin: 20px;
}
#check {
    display: none;
}
.checkbtn img{
    display: none;
}
.headerMenu a:hover {
    color: #9e6139;
    background-color: #FAE4B1;
    border: solid #614504 3px;
    border-radius: 5px;
    padding: 10px;
}
/*footer universal*/

/*desarrollo index*/
.firstBox {
    background-image: url(./assets/Imagenes/backgroundGeneral.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px;
    border-right: #000 solid 1px;
    border-radius: 5px;
}
.firstBox h2 {
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: solid grey 2px;
}
.secondBox {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-color: #99917f;
    border-radius: 20px;
    box-shadow: 7px 13px 37px #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.secondBox h3 {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    border-bottom: 1px solid black;
}
.secondBox .contentOne {
    box-shadow: -2px 6px 19px 4px #000;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    margin: 10px;
    justify-content: center;
}
.secondBox .contentOne a {
    text-decoration: none;
    color: white;
    text-shadow: -2px 0px 2px rgb(0 0 0);
}
.secondBox .contentOne a:hover {
    color: black;
}
.secondBox .contentTwo {
    box-shadow: -2px 6px 19px 4px #000;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    margin: 10px;
}
.secondBox .contentTwo a {
    text-decoration: none;
    color: white;
    text-shadow: -2px 0px 2px rgb(0 0 0);
}
.secondBox .contentTwo a:hover {
    color: black;
}
.slider {
    width: 100%;
    margin: 10px 0;
    height: auto;
    overflow: hidden;
    padding: 50px;
}
.slider ul{
    display: flex;
    width: 300%;
    padding: 0;
    animation: slider 20s infinite;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider li img {
    width: 100%;
    padding:0 50px;
    border-radius: 3px;

}

/*desarrollo sobre nosotros*/
.sectionContainer {
    display: grid;
    grid-template-rows: 1 3 1 3;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 50px;
    background-image: url(./assets/Imagenes/background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.sectionContainer .tittle {
    width: 100%;
    padding: 10px 30px;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    color: #94b2d8;
    text-shadow: 2px 2px 2px #1d1c1c;
}
.sectionBox-one {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 2px solid black;
}
.sectionBox-one .boxVideo {
    justify-content: center;
    width: 100%;
}
.sectionBox-one .textBox {
    padding: 10px 10px;
}
.sectionBox-one .boxVideo video {
    width: 100%;
    padding: 50px 0;
}
.sectionBox-one p{
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    justify-content: center ;
    text-align: center;
    color: white;
    text-shadow: -1px 1px 2px #000000;
}
.sectionBox-two p {
    width: 100%;
    height: auto;
    font-size: 16px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 30px;
    color: white;
    text-shadow: -1px 1px 2px #000000;
}
/*desarrollo pagina productos*/
#carouselOnly {
    width: 100%;
    height: auto;
    padding: 50px;
}
.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 0.4fr 0.5fr;
    gap: 10px;
    padding: 20px;
}
.products .tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.products .tittle h2 {
    padding: 10px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    font-family: 'Times New Roman', Times, serif;
}
.clasif {
    display: grid;
    grid-template-rows: 0.1fr 2fr;
    width: 100%;
    height: auto;
    padding: 0 200px;    
}
.clasif h3 {
    background-color: beige;
    padding: 20px;
    margin:  0 20px;
}
.items1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: baseline;
    gap: 10px;
    height: auto;
    padding: 20px;
}

.one {
    display: flex;
    justify-content: center;
    border: solid 3px black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.one img {
    width: 100%;
    border-radius: 10px;
    transition: all 500ms ease-out;
}
.one .textOne {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    font-size: 20px;
}
.one:hover > .textOne {
    opacity: 1;
    visibility: visible;
}
.one:hover > .textOne h6 {
    margin-top: 80px;
    font-size: 20px;
    padding: 10px 20px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: white 1px 1px 1px;
}

/*desarrollo pagina distribuidores*/
/*aplicacion mismo container "nosotros"*/
.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 80px;
}
.list ul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 100px;
    align-items: center;
    justify-content: center;
    background-color: #d1cbc69e;
    border-radius: 5px;
    list-style: none;
}
.list ul li {
    border-bottom: solid #503f1961 1px;
    color: #614504;
}
.list ul li:hover {
    color: white;
    cursor: pointer;
}
.iframe {
    background-color: #00000057;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: black solid 2px;
    border-left: black solid 2px;
    margin: 10px;
}
/*desarrollo pagina contacto*/
.contact {
    display: grid;
    grid-template-rows: auto;
    margin: 30px;
    background-image: url(./assets/Imagenes/portadacontacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 150px;
}
.contact h2 {
    border-bottom: solid black 2px;
    border-left: black solid 2px;
    padding: 20px;
    font-size: 30px;
    text-shadow: #ffffffdb -2px -2px 3px;
}
.contact p {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-shadow: #ffffffdb -1px 0px 2px;
}
.formContainer {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
}
.formContainer h3 {
    text-align: center;
    text-shadow: 1px 2px 2px white;
}
.formContainer form {
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
}

.firstLine input {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    font-size: 10px;
    font-size: 20px;
}
.formContainer form .secondLine input, textarea {
    margin: 10px 50px;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 10px;
    font-size: 20px;
}
.formContainer h4 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.formContainer .boton {
    cursor: pointer;
}
.listContact .listTittle {
    color: #ffffff9c;
}
.listContact ul {
    list-style: none;
}
.listContact ul li {
    color: #ffffff9c;
}
.listContact ul li:nth-child(2) a {
    color: green;
    text-decoration: none;
}
.listContact ul li:nth-child(3) a {
    display: flex;
    text-decoration: none;
}
.listContact ul li:nth-child(3) a:first-child {
    color: rgb(58, 80, 141);

}

.listContact ul li:nth-child(3) a:nth-child(2) {
    color: rgb(195, 12, 149);
}
.listContact ul li:nth-child(3) a:nth-child(3) {
    color: rgb(20, 170, 245);
}
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1
    }
}
@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(30deg);
    }
}
@keyframes slider {
    0% {margin-left: 0;}
    33% {margin-left: 0;}

    35% {margin-left: -100%;}
    66% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}